<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="Image Search Abstraction Layer" content="A cool thing made with Glitch">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Image Search Abstraction Layer
      </h1>
    </header>
    <main>
    </main>
    <footer>
      <a href="https://github.com/san00">
        Made by san00
      </a>
    </footer>

  </body> 
</html>
